[submodule "external/libopencm3"]
	path = external/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "external/FreeRTOS"]
	path = external/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
